altair
argcomplete
argon2-cffi
asgiref
astor
async-generator
attrs
autopep8
backcall
base58
beautifulsoup4
bleach
blinker
blis
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
cycler
cymem
debugpy
decorator
defusedxml
Django
docx2txt
EbookLib
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
entrypoints
extract-msg
gensim
gitdb
GitPython
idna
IMAPClient
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
murmurhash
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
numpy
olefile
packaging
pandas
pandocfilters
parso
pathy
pdfminer.six
pexpect
pickleshare
Pillow
plotly
preshed
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyarrow
pycodestyle
pycparser
pycryptodome
pydantic
pydeck
Pygments
pyparsing
pyrsistent
python-dateutil
python-pptx
pytz
pyzmq
regex
requests
scipy
seaborn
Send2Trash
six
smart-open
smmap
sortedcontainers
soupsieve
spacy
spacy-legacy
SpeechRecognition
sqlparse
srsly
streamlit
tenacity
terminado
testpath
textdistance
textract
thinc
toml
toolz
tornado
tqdm
traitlets
typer
typing-extensions
tzlocal
urllib3
validators
wasabi
watchdog
wcwidth
webencodings
widgetsnbextension
wordcloud
xlrd
XlsxWriter
